{
  "cache": true,
  "extension": [
    ".ts"
  ],
  "report-dir": "./coverage",
  "reporter": [
    "cobertura",
    "html",
    "text",
    "text-summary",
    "lcov"
  ],
  "temp-directory": "./coverage/.nyc_output",
  "exclude": [
    "coverage/**",
    "node_modules/**",
    "test/**",
    "**/*.d.ts",
    "**/*.test.ts"
  ]
}